nav{
    display:flex;
    gap: 2rem;
    background-color: #1f2937;
    margin: 0 auto;
    font-size:2rem;
    justify-content:space-around;
    max-width:500px;
    height:auto;
    a{
        color: #e5e7eb;
        text-decoration: none;
        font-weight: 500;
        &:hover{
            background-color: #374151;
        }
    }
}

.active {
  background-color: #2563eb;
  color: white;
}